@font-face {
  font-family: 'Linearicons';
  src: url("../fonts/Linearicons-Free.ttf");
} 
@font-face{
  font-family: rsu-r;
  src: url(../fonts/RSU-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: rsu-b;
  src: url(../fonts/RSU-bold.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: rsu-l;
  src: url(../fonts/RSU-light.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: rsu-rt;
  src: url(../fonts/RSU-Text-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}

 
/*html {
  scroll-behavior: smooth;
}*/
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
.none-pad-r{
  padding: 0px 5px 0px 0px !important;
} 
.none-pad-l{
  padding: 0px 0px 0px 5px !important;
} 
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 
.b-0{
  margin-bottom: 0px;
}
/*.dropdown:hover>.dropdown-menu {
  display: block;
}*/ 


@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }   
  .menu{
    display: none;
  } 
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  } 

}

a:hover{
  text-decoration: none;
}
/*.banner {
  height: 100vh;
}*/ 
.navbar {
  padding-bottom: 0px;
  padding-top: 0px;
  height: 56px;
}
nav.navbar{
  background-color: #171d2d;
}
.search-x input{
  height: 32px;
  width: 100%;
  padding: 0 12px 2px 30px; 
  border-radius: 5px; 
  line-height: 20px;
  border: 2px solid #DFE1E6;
  box-shadow: none;
  background-color: #FFFFFF;
  color: #6B778C;
}
.search-x span i{
  margin-left: -210px;
  position: relative;
  color: #6B778C;
}
.navbar-brand{
  color: #fff;
}
.navbar .navbar-nav .nav-item{ 
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  height: 56px;
}
.navbar .navbar-nav .nav-item .nav-link{
  color: #fff;
  padding: 15px 0px; 
  font-size: 14px;
}

.navbar .navbar-nav .nav-item.active{
  border-bottom: 2px solid #fff;
}
.navbar .navbar-nav .nav-item .nav-link span {
  padding: 4px 6px 6px; 
}
.navbar .navbar-nav .nav-item .nav-link:hover span {
  padding: 4px 6px 6px;
  background-color: #4A5363;
  border-radius: 4px;
}

footer{
  background-color: #172B4D;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #172B4D;
  color: #FAFBFC;
}
footer a{
  font-size: 12px;
  color: #FAFBFC;
  margin-left: 32px;
}
footer a:hover{
  color: rgb(0, 101, 255); 
  text-decoration: underline;
}
 

.centeredx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indm h1{
  color: rgb(23, 43, 77);
  font-size: 48px;
}
.indm p{
  color: #5E6C84;
  font-size: 24px;
}
.sec1-i{
  background-color: #FAFBFC;
}
.sec2-i{
  background-color: #172B4D;
  padding: 30px 0px;
}
.sec4-i{
  background-color: #F4F5F7;
  padding: 30px 0px;
}
.box-1{
  border-radius: 4px; 
} 
.bg-w{
  background-color: #fff; 
}

.box-1 .col-5{
  background-color: #FAFBFC; 
  border-radius: 4px;
}

.box-1 .col-5 img{
  width: 100%;
  display: block; 
}
.box-1 .col-7{
  padding-top: 45px;
}
.box-1 h2{
  color: rgb(23, 43, 77); 
  font-size: 20px;
}
.box-1 p{
  color: #5E6C84; 
  margin-right: 15px;
}


.linkx{
  color: rgb(0, 82, 204) !important; 
  margin-right: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: all .4s ease;
}

.linkx:hover{
  text-decoration: underline;
}
.linkx:hover i{
  padding-left: 5px;
  transition: all .4s ease;
}

p.pb{
  width: 24px;
  height: 24px;
  color: #fff !important;  
  text-align: center;
  line-height: 20px;
  margin-right: 5px;
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
}
.succx{
  background-color: #57D9A3; 
}
.warnx{
  background-color: #FFC400; 
}
.prix{
  background-color: #0065FF; 
} 
.infox{
  background-color: #00C7E6;
}
.danx{
  background-color: #FF5630;
}
.pubx{
  background-color: #6554C0;
}



.box4{ 
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(9 30 66 / 25%), 0 0 1px 0 rgb(9 30 66 / 31%);
  overflow: hidden;
  background-color: #fff;
  grid-column: span 4;
  min-height: 272px;
  margin-bottom: 15px;
}
.box4:hover{
  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 1px rgb(9 30 66 / 31%);
}

.pb-l{
  width: 48px;
  height: 48px;
  border-radius: 4px;
  display: -webkit-box;
  color: #fff;
  display: flex; 
  -webkit-justify-content: center; 
  align-items: center; 
}
.pb-l svg{ 
  color: #fff;
}
.pb-l i{ 
  color: #fff;
}
.box4 h2{
  font-size: 24px;
  color: rgb(23, 43, 77);;
}
.box4 p{
  font-size: 14px;
  color: rgb(23, 43, 77);;
}

.bol-t{
  border-bottom: 1px solid #DFE1E6; 
}

.sec4-i .box4{
  min-height: 224px;
}
 
.sidebar{
  min-height: 100vh;
  border-right: 1px solid #EBECF0; 
  padding: 60px 0px; 
  width: 14%;
}
.sidebar{
  min-height: 100vh;
  border-right: 1px solid #EBECF0; 
  padding-top: 80px; 
}
.sidebar ul{
  list-style: none;
  padding-left: 0px; 
}
.sidebar ul li{ 
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;  
  padding-left: 30px;
  color: rgb(23, 43, 77);
  border-left: 4px solid transparent;
}
.sidebar ul li.active{
  background-color: #EBECF0;
  border-left: 4px solid #2684FF;
}
.sidebar ul li:hover:nth-child(n+2) {
  background-color: #EBECF0;
}
.sidebar ul li a{  
  font-size: 14px; 
  font-weight: normal;
  color: #344563 !important;  
  text-transform: capitalize;
  display: block;
}
.mbox{
  width: 86%;

}
.mbox .headx{
  background-color: #FAFBFC;
  padding-left: 80px;
  min-height: 320px;
  display: block;  
  padding-top: 80px;
}
.mbox .bodx{
  padding-left: 80px;
  padding-top: 30px;
}
.mbox .headx h1{
  font-size: 36px;
  font-weight: 400;
  color: rgb(23, 43, 77); 
  padding-top: 20px;
}
.mbox .headx p{
  padding-top: 15px;
  font-size: 16px;
  color: #505F79; 
}
.footx{ 
  background-color: #FAFBFC;
  padding: 24px 80px;
  color: rgb(94, 108, 132);
  font-size: 12px;
}

 
.footx a{
  font-size: 12px;
  color: rgb(94, 108, 132);
  margin-left: 32px;
}
.footx a:hover{
  color: rgb(0, 101, 255); 
  text-decoration: underline;
}

.mbox .bodx .po{
  color: rgb(23, 43, 77);
  font-size: 14px;
}
.mbox .bodx p{
  color: rgb(23, 43, 77);
  font-size: 14px;
}
.mbox .bodx p a{ 
  color: rgb(0, 82, 204);
}
.mbox .bodx p a:hover{
  text-decoration: underline;
  color: #0098FF;
}

h2.link-cop{
  font-size: 24px;
  color: rgb(23, 43, 77);   
  font-weight: 400;
  padding-bottom: 10px;
  margin-top: 40px;
}
h2.link-cop a{
  opacity: 0;
  display: inline-block;
  transition: opacity 0.2s ease-out,transform 0.2s ease-out;
  position: absolute;
  left: -15px;  
  margin-top: 4px;
  font-size: 18px;
}
h2.link-cop:hover a{
  opacity: 1;
}

h3.link-cop{
  font-size: 20px;
  color: rgb(23, 43, 77); 
  font-weight: 400;
  padding-bottom: 10px;
  margin-top: 20px;
}
h3.link-cop a{
  opacity: 0;
  display: inline-block;
  transition: opacity 0.2s ease-out,transform 0.2s ease-out;
  position: absolute;
  left: -15px;  
  margin-top: 4px;
  font-size: 18px;
}
h3.link-cop:hover a{
  opacity: 1;
}
.mbox .bodx ol li { 
  color: rgb(23, 43, 77);
  font-size: 14px;
  line-height: 30px;
}
.mbox .bodx ol li:maker{ 
  color: rgb(23, 43, 77);
  font-size: 14px;
  line-height: 30px;
}
.mbox .bodx ul li { 
  color: rgb(23, 43, 77);
  font-size: 14px;
  line-height: 30px;
}
 

.tool {
  position: relative;
  display: inline-block; 
}

.tool .tooltext {
  visibility: hidden;
  width: 120px;
  background-color: #172b4d;
  color: #fff;
  font-size: 11px;
  text-align: center;
  border-radius: 4px;
  padding: 4px 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tool .tooltext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px; 
}

.tool:hover .tooltext {
  visibility: visible;
  opacity: 1;
}

